@import '@fortawesome/fontawesome-free/css/all.min.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body{
    margin: 0;
    padding: 0;


    
}

.header {
    display: flex;
    justify-content: space-between; /* Espacia logo y nav-links */
    align-items: center; /* Centra verticalmente */
    font-size: 20px;
    background-color: #1e6e00;
    padding: 0 ; /* Agrega algo de espacio horizontal */
}


.logo{
    cursor:pointer;
    font-weight: bold;
    display: flex;
}

.header .logo img{
    height: 85px;
}

.nav-links {
    display: flex;
    margin-right: 70px;

}

.nav-links li{
    display: inline-block;
    padding: 15px 50px 20px 0px;
    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: black;
}


.footer{
    background-color: #1e6e00;
    ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.iconos {
    color: white;
    font-size: 40px;
    padding: 20px 0px 5px 0px;
}

.iconos i{
    padding: 0px 9px;
}

.footer i{
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
    
}

.telefono a{
    padding: 0px 15px 0px 0px;
    pointer-events: none;
    font-size: 20px;
}

.telefono i{
    font-size: 20px;
    padding: 0 5px;
}

.iconos .fa-instagram:hover {
    color: #E4405F;
    transform: scale(1.2);
}

.iconos .fa-whatsapp:hover {
    color: #25D366; 
    transform: scale(1.2);
}

.iconos .fa-square-facebook:hover {
    color: #4267B2; 
    transform: scale(1.2);
}
.swiper-container {
    height: 450px;    /* Altura del carrusel */
    width: 100%;
    margin: auto;     /* Centrado */
    box-sizing: border-box; /* Asegura que las dimensiones incluyan el padding */
    overflow: hidden; /* Evita que el contenido del carrusel se desborde */
    box-shadow: none;
    background-color: transparent;
   
    }
    
.swiper-slide {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        display: block; /* Opcional: facilita la alineación de contenido */
        height: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        object-fit: cover;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .swiper-button-next,
    .swiper-button-prev { 
        color: white; /* Color del ícono */
        border-radius: 50%; /* Botones redondeados */
        width: 80px ; /* Tamaño del botón */ 
        height: 60px ;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow: none;
    }
    
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        color: black;
        box-shadow: none;
    }
    .swiper-button-next::after {
        content: '\f054'; /* Código Unicode del ícono "siguiente" */
        font-family: 'FontAwesome';
        color: green; /* Cambia este al color deseado */
        box-shadow: none;
    }
    
    .swiper-button-prev::after {
        content: '\f053'; /* Código Unicode del ícono "anterior" */
        font-family: 'FontAwesome';
        color: green; /* Cambia este al color deseado */
    }
    
    .contenido {
        display: flex;
        flex-direction: column; /* Coloca los elementos uno debajo del otro */
        gap: 20px; /* Espaciado entre los elementos */
        padding: 20px;
    }

    .section-images {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 2px; /* Espacio mínimo entre contenedores */
      }
  
      .image-container {
        flex: 1; /* Cada contenedor ocupa un espacio equitativo */
        text-align: center;
        background-color: #74c062;
      }
  
      .image-container img {
        width: 100%;
        max-width: 230px; /* Imagen más grande */
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
      }
  
      .image-container p {
        margin-top: 50px;
        font-size: 30px;
        color: white;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
        font-style: italic;
    }

    .images-wrapper {
        overflow: hidden; /* Si el contenedor interno se desplaza, no se mostrará fuera */
      }
    
      

      
      